.confirmation-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-bottom: 48px solid #f1f1f1;
  line-height: 1.2;
}
.confirmation-header-section {
  padding: 24px 24px 0;
  margin-bottom: 24px;
}
.confirmation-heading {
  margin: 0 0 4px;
  margin-bottom: 32px;
  font-size: 2.4rem;
  color: #212121;
}
.subheading.hotel-name {
  font-size: 1.6rem;
  color: #212121;
  margin: 0 0 8px;
  font-weight: 500;
}
.hotel-address {
  color: rgb(74, 74, 74);
  font-size: 14px;
  font-weight: 400;
}
.user-info-block {
  border: 24px solid #f1f1f1;
  display: block;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
.user-booking {
  border-bottom: 2px dashed #f1f1f1;
  position: relative;
  padding: 24px;
}
.guest-text {
  padding: 0px;
  margin: 0px;
  color: rgb(74, 74, 74);
  font-size: 14px;
  font-weight: 400;
}
.user-name {
  margin: 0 0 8px;
  margin-bottom: 24px;
  font-size: 1.6rem;
  color: #212121;
}
.row {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin-right: -8px;
  margin-left: -8px;
}
.col {
  flex-basis: 50%;
  width: 50%;
  padding-right: 8px;
  padding-left: 8px;
  flex-grow: 1;
}
.col-2 {
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
}
.price-block {
  padding: 24px;
}
.price-block .user-name {
  font-size: 2.4rem;
  font-weight: 500;
  color: #212121;
}