.truebil-score {
  display: inline-block;
  color: #fff;
  border-radius: 2px;
  padding: 3px 4px;
  text-align: center;
  line-height: 0.9;
}
.truebil-score .rating {
  display: block;
  font-size: 16px;
  font-weight: 500;
}
.truebil-score svg {
  height: 12px;
}
.truebil-score.yellow {
  background-color: #E6C300;
}
.truebil-score.lime-green {
  background-color: #95c246;
}
.truebil-score.light-green {
  background-color: #6eb85f;
}
.truebil-score.green {
  background-color: #44ab55;
}
.truebil-score.dark-green {
  background-color: #359666;
}