.home-footer {
  background-color: #444A59;
  min-height: 8rem;
  padding-bottom: 56px;
}
.media {
  width: 100%;
  height: 4.2rem;
  overflow: hidden;
}
.media li {
  width: 33.3%;
  height: 100%;
  float: left;
  border-bottom: 0.1rem solid #626A80;
  border-right: 0.1rem solid #626A80;
  text-align: center;
}
.media li a {
  color: #444A59;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
.facebook {
  padding-top: 1.12rem;
  margin-left: -1.8rem;
}
.media-text {
  font-size: 1.4rem;
  color: #B5B7BD;
  display: inline-block;
}
.twitter {
  padding-right: 0.7rem;
  padding-top: 1.12rem;
}
.linkedin {
  padding-top: 1.26rem;
}
.company-support {
  overflow: hidden;
  text-align: center;
}
.company-support li {
  display: inline-block;
  margin: 1.4rem 1rem 0 1rem;
}
.company-support li a {
  color: #fff;
  font-size: 1.4rem;
}
.company-support li a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.home-copyright {
  display: block;
  color: #B5B7BD;
  text-align: center;
  padding: 1.4rem 0;
  font-size: 15px;
}
.icon-facebook {
  padding-top: 1.2rem;
  padding-left: 1rem;
}
.icon-twitter {
  padding-left: .75em;
  padding-top: .6em;
}
.icon-linkedin {
  padding-top: .55em;
  padding-left: .55em;
}
.media-icon {
  font-size: 1.8rem;
  float: left;
}
