/* Basic info css */
.details-wrap {
  padding-bottom: 0.8rem;
  margin: 1.6rem 1.6rem 0 1.6rem;
  overflow: hidden;
  border-bottom: 1px solid #DADBDE;
}
.heading-wrap {
  display: inline-block;
}
.true-score {
  display: inline-block;
  width: 10%;
  position: relative;
  float: right;
  margin-top: 1rem;
}
.mileage {
  color: #A3AEC2;
}
.listing-title {
  font-size: 2.2rem;
  width: 70vw;
  height: 6rem;
  font-weight: 400;
}
.truebil-direct-logo {
  width: 6rem;
  display: inline-block;
  vertical-align: top;
  margin: .9rem 0 0 .95rem;
  fill: #5c6ac4;
}
.tbcar-mileage {
  color: #8F939C;
  display: inline-block;
  font-size: 1.6rem;
}
.mileage-price-wrap {
  margin: .7rem 0;
}
.tbcar-price {
  clear: both;
  color: #444A59;
  font-size: 2.8rem;
  display: inline-block;
  line-height: 2.7rem;
  font-weight: 500;
}
.negotiate-text {
  font-size: 1.3rem;
  color: #03A9F4;
  padding: .6rem;
  font-weight: 500;
  vertical-align: super;
}
.visit-btn {
  color: #03A9F4;
  font-weight: 500;
}
.reschedule-btn {
  color: #03A9F4;
}
.negotiate-text.premium {
  font-size: 1.5rem;
  padding: 0;
}
.td-margin-amount {
  font-size: 1.6rem;
  padding: 0 0.3rem;
  border-radius: 2px;
  letter-spacing: -0.5px;
  display: inline-block;
  text-decoration: underline;
  color: #00B289;
  margin-right: 1.6rem;
}
.icon-ques {
  background-position: -17.7rem -9.2rem;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: top;
  margin-left: 6px;
  margin-top: 1px;
  fill: #A3AEC2;
} 
.details-wrap .truebil-score {
  float: right;
}
.distance-price-wrap {
  margin: 1.6rem 0 0.8rem 0;
}
.image-container {
  min-height: 23rem;
  position: relative;
}
.image-container .listing-image {
  width: 100vw;
  background-color: #f2f3f5;
}
.image-container .img-bottom {
  position: absolute;
  bottom: 4px;
  width: 100%;
  line-height: 3.4rem;
  font-size: 1rem;
  padding-right: 1.2rem;
}
.image-container .img-bottom .see-photos-btn {
  display: inline-block;
  border-radius: 2px;
  color: #444a59;
  padding: 2px 8px;
  float: right;
  margin: 1.2rem 0;
  font-size: 1.4rem;
}
.image-container .img-bottom .test-drive-book-count {
  display: inline-block;
  color: #FFF;
  font-size: 1.4rem;
  float: left;
  margin: 6px 0;
}
.test-drive-book-count .trending-icon {
  margin-right: .5rem;
}
/* Basic info css end */
/*overveiw css starts*/
.overview-section {
  margin-bottom: 1.4rem;
}
.overview-section .details {
  padding: 0 1.4rem 0 1.4rem;
}
.section-title {
  color: #444A59;
  padding: 1.4rem 1.5rem 0;
  font-size: 2rem;
  font-weight: 500;
}
.overview-label {
  color: #8F939C;
  display: inline-block;
  font-size: 1.6rem;
}
.overview-value {
  font-weight: 400;
  line-height: 1.28;
  color: #444A59;
  display: inline-block;
  float: right;
  font-size: 1.6rem;
}
.overview-section li {
  height: 5rem;
  border-bottom: 1px solid #D8DEEB;
  padding-top: 1.4rem;
}
.overview-modal .section-heading {
  border-bottom: transparent;
  padding: 1rem 0 .5rem;
}
.overview-modal .section-heading span {
  color: #444A59;
}
.rc-insurance-validity {
  text-align: center;
}
.rc-insurance-validity i {
  fill: rgb(242, 180, 7);
  width: 2.3rem;
  display: inline-block;
  vertical-align: middle;
}
.rc-insurance-validity span {
  font-size: 1.4rem;
  margin-left: 0.5rem;
  color: #7D8AA1;
}
.overview-section .floating-box {
  border: 1px solid rgba(163,174,194,0.40);
  box-shadow: 0 1px 2px 0 #DDE0F0, 0 0 16px 0 rgba(221,224,240,0.60);
  border-radius: 4px;
  background-color: #fff;
  padding: 1.4rem;
  position: absolute;
  right: 5%;
}
.overview-section .floating-box .heading {
  font-size: 1.7rem;
  color: #444A59;
  font-weight: 500;
}
.overview-section .floating-box ul {
  list-style: black;
}
.overview-section .floating-box li {
  color: #444A59;
  font-size: 1.5rem;
  list-style-type: disc;
  display: list-item;
  list-style-position: outside;
  padding: 0;
  border: 0;
  height: 3rem;
  margin-left: 1.4rem;
}
/* overveiw css end*/
/* Inspector Info */
.inspection-wrap {
  background-color: #F5F5FA;
  border-top: 1px solid #F2F3F5;
  padding-bottom: .2rem;
}
.inspector-overview {
  background-color: #FAFBFC;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.06);
  border-radius: 3px;
  color: #444A59;
  font-weight: 500;
  margin-top: 1rem;
  margin: 1rem 1.5rem;
}
.inspector-wrap {
  border-bottom: 1px solid #DADBDE;
  padding: 1.1rem;
}
.inspected-by-text {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}
.inspector-details-wrapper {
  display: inline-block;
  margin-top: 0.7rem;
}
.inspected-by {
  vertical-align: middle;
  display: inline-block;
  margin: 0 .7rem 0 1.4rem;
  width: 6rem;
  background-color: #F5F8FA;
  border-radius: 50%;
  overflow: hidden;
}
.inspector {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: inline-block;
}
.inspector-details {
  vertical-align: top;
  display: inline-block;
  margin: 0 0 0 5px;
  float: right;
}
.inspected-exp-cars li {
  font-weight: 500;
  font-size: 1.4em;
}
/* Inspector css end*/
/* car verification condition css*/
.verification-condition-wrap {
  width: 100%;
  overflow: hidden;
  font-size: 1.4rem;
}
.conditions {
  width: 33%;
  float: left;
  padding: 0 3px 3px 3px;
  text-align: center;
  margin: 1.2rem 0;
}
.checked-point {
  background-position: -17.99rem -6.5rem;
  width: 3.8rem;
  height: 4rem;
  display: inline-block;
}
.accident-image {
  background-position: -23.8rem -6.5rem;
  width: 4.6rem;
  height: 4.1rem;
  display: inline-block;
}
.quailfy-image {
  background-position: -30.5rem -6.5rem;
  width: 3.4rem;
  height: 3.8rem;
  display: inline-block;
}
/* car verification condition css ends*/
/* Summary css */
.summary-wrap {
  background-color: #fff;
  padding-bottom: 2rem;
}
.summary-wrap .positive-comment-wrap,
.summary-wrap .negative-comment-wrap {
  color: #444A59;
  font-size: 1.5rem;
  padding: 0 1.5rem;
  padding-top: 1.4rem;
}
/* Summary css ends */
/*Inspection Report css end*/
.report-list {
  margin: 1.6rem;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 0 .20rem 0 rgba(0,0,0,.06);
}
.section-container {
  padding: 0 1rem 1rem;
}
.report-name-wrap {
  overflow: hidden;
  padding: 1.2rem 0 1.12rem .42rem;
}
.report-name {
  font-weight: 500;
  font-size: 1.46rem;
  color: #444A59;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline-block;
}
.report-rating {
  padding: 0 8px;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 .78rem;
  font-weight: 500;
  border-radius: 4rem;
  background-color: #A3AEC2;
  color: #FFF;
  line-height: 1.5;
}
.positive-comment-wrap li:first-child {
  margin: 0 0 .7rem 0;
}
.positive-comment-wrap li {
  margin: .7rem 0;
}
#dedicatedPage .icon-check {
  padding: 0 0.2em 0 0;
  font-size: 1.45rem;
  fill: #00a37d;
  margin-right: .8rem;
}
.icon-cross {
  padding: 0 0.2em 0 0;
  font-size: 1.45rem;
  fill: #D46377;
  width: 16px;
  display: inline-block;
  margin-right: .8rem;
}
.repainted {
  fill: #b1c35a;
}
.comment-text {
  width: 85%;
  vertical-align: top;
  display: inline-block;
  font-weight: 400;
  color: #444A59;
  font-size: 1.5rem;
  line-height: 2rem;
}
.positive-comment-wrap .more-comments {
  color: #29C5A3;
  font-size: 1.4rem;
  margin-left: 2.3rem;
  font-weight: 500;
}
.negative-comment-wrap li:first-child {
  margin: 0 0 .7rem 0;
}
.negative-comment-wrap li {
  margin: .7rem 0;
}
.negative-comment-wrap .more-comments {
  color: #D46377;
  font-size: 1.4rem;
  margin-left: 2.3rem;
  font-weight: 500;
}
.report-list .report-category-list-wrap {
  display: block;
  overflow: hidden;
  transition: height .3s ease;
}
.report-list .report-category-list {
  
  border-bottom: 1px solid #D8DEEB;
  padding: .7rem 0;
}
.report-category-list:last-child {
  border-bottom: transparent;
  padding-bottom: 0;
}
.report-list .section-name {
  line-height: 1;
  display: block;
}
.report-category-list-name {
  font-size: 1.4rem;
  margin: .14rem;
  color: #444A59;
  font-weight: 500;
  display: inline-block;
}
.groove-container {
  width: 100%;
  line-height: 1;
}
.groove-bar {
  border-radius: 0.714rem;
  background-color: #f2f3f5;
  height: 4px;
  display: inline-block;
  width: 70%;
  margin: .4rem 0;
}
.groove-bar div {
  height: 4px;
  background-color: #03A9F4;
  border-radius: 0.714rem;
}
.section-right-icon {
  display: inline-block;
  float: right;
  width: .81rem;
  fill: #6A6F7B;
  vertical-align: middle;
}
.groove-value {
  display: inline-block;
  color: #8F939C;
  font-size: 1.4rem;
}
.report-images-container {
  margin: 0 0 0 .7rem;
  clear: both;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.report-img-wrap {
  width: 33%;
  float: left;
  padding-left: 8px;
  color: transparent;
  border: none;
}
.report-img {
  width: 100%;
  padding-bottom: 75%;
  position: relative;
  background: #fff
}
.report-img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.report-images-container .more-image {
  width: calc(33% - 8px);
  height: 100%;
  top: 0px;
  left: calc(66% + 8px);
  display: flex;
  position: absolute;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(0,0,0,0.5);
  pointer-events: none;
}
.report-images-container .more-image .more-image-count {
  font-size: 2.1rem;
  vertical-align: middle;
  margin: auto;
}
.report-images-container .more-image .more-image-count span {
  font-size: 2.5rem;
  vertical-align: middle;
}
.position-relative {
  position: relative;
}
.sample-water-mark {
  position: absolute;
  font-size: 4rem;
  top: 0;
  color: rgba(106, 111, 123,.3);
  -webkit-transform: translateX(9%)translateY(189%)rotate(-30deg);
  -ms-transform: translateX(9%)translateY(189%)rotate(-30deg);
  transform: translateX(9%)translateY(189%)rotate(-30deg);
  pointer-events: none;
}
.sample-report-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 2.7rem 0;
  text-align: center;
  background-image: radial-gradient(circle, #fff 30%, transparent);
}
.sample-report-overlay .sample-report-heading {
  font-size: 1.86rem;
  border-bottom: 2px solid #DADBDE;
  color: #444A59;
  line-height: 3rem;
}
.sample-report-overlay .sample-report-subheading {
  font-size: 1.6rem;
  color: #444A59;
  line-height: 2.39rem;
  margin: 4px 0.9rem;
}
.sample-report-overlay .sample-report-btn {
  margin: 1.6rem auto;
  width: 22rem;
}
.btn-black-solid {
  color: #FFF;
  border-color: #6A6F7B;
  background-color: #6A6F7B;
}
.sample-report-blur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  height: 33.6rem;
}
.sample-report-overlay .lock-icon svg {
  height: 54px;
  width: 54px;
  margin-bottom: 5px;
  fill: #03a9f4;
}
/*Inspection Report css start*/
/*Inspection overlay css start*/
.inspection-report-modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 4.5rem;
  background-color: #F5F5FA;
  top: 0;
  z-index: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.close-icon-wrap {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  padding: 1.7rem;
  overflow: hidden;
}
.modal-icon-cross {
  fill: #8f939c;
  width: 1.414rem;
  display: inline-block;
  position: relative;
}
.inspection-report-modal-overlay .inspection-report-modal {
  box-shadow: 0 0.2rem 2rem 0 #DDE0F0;
  border-radius: 0.2rem;
  margin: 1.6rem;
}
.inspection-report-modal-overlay .section-info {
  background-color: #fff;
  overflow: hidden;
  transition: height .3s ease;
  height: 48px;
}
.inspection-report-modal-overlay .header-wrap {
  width: 100%;
  overflow: hidden;
  line-height: 2.7;
  padding: 0 1.67rem 0 1.4rem;
}
.inspection-report-modal-overlay .section-header {
  font-size: 1.7rem;
  text-align: left;
  text-transform: uppercase;
  display: inline-block;
  color: #444A59;
  font-weight: 500;
}
.header-wrap .icon-arrow-down {
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  transform: rotate(90deg);
  line-height: 5rem;
  float: right;
  width: 1.12rem;
  vertical-align: middle;
  display: inline-block;
  fill: #B5B7BD;
}
.header-wrap.rotate-icon .icon-arrow-down {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}
.header-wrap .icon-arrow-down svg {
  vertical-align: middle;
}
.report-category-list-wrap {
  display: block;
  position: relative;
  margin: 0 1rem 1rem 1rem;
  box-shadow: none;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
}
.report-category-list-wrap .report-category-list {
  border-top: transparent;
  padding: 0;
  display: block;
}
.report-category-list-wrap .section-wrap {
  overflow: hidden;
  padding: 0.42rem 0;
}
.report-category-list-wrap .details-header {
  margin: 1.97rem 0; 
  text-align: left;
  border-bottom: 1px solid #E2E4EB;
  line-height: 0.21rem;
  font-size: 2.1rem;
  display: block;
}
.report-category-list-wrap .details-header span {
  background: #fff;
  padding-right: 1.12rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #7D8AA1;
}
.report-category-list-wrap .report-images-container {
  margin: 0em 0 0 .5em;
  clear: both;
  display: inline-block;
  position: relative;
}
.report-images-container .tyre-report-img {
  width: 8.05rem;
  height: 6rem;
  margin: 0.7rem 2px 5px 0;
  float: left;
  background-color: #F2F3F5;
  color: transparent;
  border: none;
}
.show-modal {
  animation: show-modal 0.3s forwards;
  -webkit-overflow-scrolling: touch;
  animation-timing-function: ease;
}
.report-category-list-wrap .section-wrap-tyre {
  display: inline-block;
  vertical-align: top;
  padding: 0.3em 0.2rem 0.3em 0;
}
.inspection-report-modal .sample-water-mark {
  -webkit-transform: translateX(9%)translateY(386%)rotate(-30deg);
  -ms-transform: translateX(9%)translateY(386%)rotate(-30deg);
  transform: translateX(9%)translateY(386%)rotate(-30deg);
}
.iam-interested-thankyou-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 4.2rem;
  z-index: 12;
  background-color: #fff;
  overflow: auto;
}
.iam-interested-thankyou-overlay .become-premium-wrap {
  box-shadow: none;
  padding-top: 0;
}
/*Inspection overlay css end*/
/* Feature css */
.feature-list-wrap {
  background-color: #f5f6f7;
  border-top: 1px solid #DADBDE;
  border-bottom: 1px solid #DADBDE;
  padding-bottom: 1.4rem;
}
.features-wrap {
  overflow: hidden;
  padding: 0 1.4rem;
}
.feature-list {
  overflow: hidden;
}
.feature-item-wrap {
  height: 5rem;
  width: 50%;
  float: left;
  display: table;
  border-bottom: 1px solid #DADBDE;
  font-size: 1.4rem;
}
.feature-item-wrap.active {
  color: #444A59;
}
.feature-item-wrap.inactive {
  color: #B5B7BD;
}
.feature-item-wrap.inactive .feature-icon {
  opacity: 0.5;
}
.feature-item {
  vertical-align: middle;
  display: table-cell;
}
.show-more-btn {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  display: block;
}
.show-more {
  line-height: 3.9rem;
  color: #03A9F4;
  font-weight: 500;
  font-size: 1.6rem;
  display: inline-block;
  padding: 0px 1.8rem;
}
.feature-icon {
  background: url('https://dw745fgl22f1q.cloudfront.net/images/features-assets.svg') no-repeat;
  display: inline-block;
  float: left;
  margin-right: 4px;
}
.icon-abs {
  background-position: -100px -20px;
  width: 26px;
  height: 26px;
}
.icon-airbags {
  background-position: -141px -21px;
  width: 26px;
  height: 26px;
}
.icon-central-locking {
  background-position: -220px -20px;
  width: 26px;
  height: 26px;
}
.icon-child-safety-locks {
  background-position: -20px -20px;
  width: 26px;
  height: 26px;
}
.icon-rear-parking-sensor {
  background-position: -60px -61px;
  width: 26px;
  height: 26px;
}
.icon-seat-belt-warning {
  background-position: -100px -60px;
  width: 26px;
  height: 26px; 
}
.icon-door-ajar-warning {
  background-position: -60px -20px;
  width: 26px;
  height: 26px;
}
.icon-rear-camera {
  background-position: -20px -60px;
  width: 26px;
  height: 26px;
}
.icon-anti-theft-alarm {
  background-position: -181px -21px;
  width: 26px;
  height: 26px;
}
.icon-power-steering {
  background-position: -60px -100px;
  width: 26px;
  height: 26px;
}
.icon-power-windows {
  background-position: -220px -140px;
  width: 26px;
  height: 26px;
}
.icon-air-conditioner {
  background-position: -20px -100px;
  width: 26px;
  height: 26px;
}
.icon-keyless-start {
  background-position: -220px -100px;
  width: 26px;
  height: 26px;
}
.icon-audio-controls-on-steering {
  background-position: -100px -101px;
  width: 26px;
  height: 26px;
}
.icon-remote-trunk-opener {
  background-position: -61px -180px;
  width: 26px;
  height: 26px;
}
.icon-remote-fuel-lid-opener {
  background-position: -100px -180px;
  width: 26px;
  height: 26px;
}
.icon-automatic-adjustable-seats {
  background-position: -140px -100px;
  width: 26px;
  height: 26px;
}
.icon-rear-ac-vent {
  background-position: -100px -140px;
  width: 26px;
  height: 26px;
}
.icon-rear-wiper {
  background-position: -21px -180px;
  width: 26px;
  height: 26px;
}
.icon-power-folding-orvm {
  background-position: -61px -141px;
  width: 26px;
  height: 26px;
}
.icon-tilt-steering {
  background-position: -20px -139px;
  width: 26px;
  height: 26px;
}
.icon-sun-roof {
  background-position: -181px -141px;
  width: 26px;
  height: 26px;
}
.icon-rear-defogger {
  background-position: -141px -141px;
  width: 26px;
  height: 26px;
}
.icon-cruise-control {
  background-position: -181px -100px;
  width: 26px;
  height: 26px;
}
.icon-power-window-front {
  background-position: -220px -140px;
  width: 26px;
  height: 26px;
}
.icon-power-window-back {
  background-position: -220px -140px;
  width: 26px;
  height: 26px;
}
.icon-music-system {
  background-position: -21px -220px;
  width: 26px;
  height: 26px;
}
.icon-gps-navigation-system {
  background-position: -180px -220px;
  width: 26px;
  height: 26px;
}
.icon-alloy-wheels {
  background-position: -100px -220px;
  width: 26px;
  height: 26px;
}
.icon-tubeless-tyres {
  background-position: -60px -220px;
  width: 26px;
  height: 26px;
}
.icon-leather-seats {
  background-position: -221px -221px;
  width: 26px;
  height: 26px;
}
.icon-fog-lamps {
  background-position: -140px -220px;
  width: 26px;
  height: 26px;
}
.section-heading {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #E2E4EB;
  margin: 2.1rem 0 .6rem;
  line-height: 0.1em;
}
.section-heading span {
  background-color: #fff;
  padding-right: 1.1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #7D8AA1;
  text-transform: capitalize;
}
.dedicated-modal {
  padding: 4.5rem 3rem 0 3rem;
  background-color: #fff;
  overflow: hidden;
}
.dedicated-modal-heading {
  font-size: 2.2rem;
  font-weight: 500;
}
.dedicated-modal .feature-item-wrap {
  border-bottom: transparent;
}
.modal-close {
  width: 5rem;
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  padding: 1.7rem;
  fill: #8f939c;
}
/* Feature css ends */
.dedicated-overlay {
  background-color: #FFF;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/* Make an offer css */
.make-offer-container {
  padding: 1.4rem 0;
  background-color: #F2F3F5;
}
.make-offer-wrap {
  background: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);
  border-radius: 2px;
  padding: 1.4rem;
}
.make-offer-heading {
  font-size: 2rem;
  color: #444A59;
  font-weight: 500;
  margin-bottom: 1.4rem;
}
.offer-count-wrap {
  display: inline-block;
  vertical-align: middle;
}
.info-container {
  padding-bottom: 1rem;
}
.top-offer-wrap {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1rem;
}
.buyer-offered-wrap {
  width: 100%;
  border-bottom: 1px solid #E4ECF0;
  border-top: 1px solid #E4ECF0;
  padding: 1rem 0;
}
.make-offer-container .text {
  font-size: 1.5rem;
  color: #444A59;
}
.make-offer-container .value {
  font-size: 2.0rem;
  line-height: 1.2;
}
.unit-text {
  font-size: 1.6rem;
  margin-left: 2px;
  color: #444A59;
}
.update-offered-price {
  color: #03A9F4;
  font-weight: 500;
  font-size: 1.4rem;
  padding: .6rem;
}
.btn-make-offer {
  width: 14.4rem;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 2.4rem;
}
/* Make an offer css */
/*Expired car div css start*/
.expired-car-div {
  padding: 24px 30px;
  background: #FFF3F2;
}
.expired-car-header {
  font-weight: 500;
  font-size: 24px;
  color: #444A59;
  line-height: 33px;
  margin: 20px 0 24px 0;
}
.expired-car-content {
  font-size: 17px;
  color: #7D8AA1;
  line-height: 23px;
}
.expired-cars-btn {
  margin: 24px 0 0 0;
}
/*Expired car div css end*/
/*Sold div css start*/
.unavailable-overlay.unavailable {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.sold-car-msg-wrap {
  position: fixed;
  bottom: 0;
  width: 94%;
  background-color: #fff;
  color: #444A59;
  left: 3%;
  font-weight: 500;
  font-size: 1.68rem;
  box-shadow: 0 0 1.143rem 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}
.sold-car-msg-wrap .become-premium-wrap {
  box-shadow: none !important;
}
.show-cars-btn {
  width: 93%;
  margin: 0 auto;
}
.sorry-msg {
  color: #ff6680;
  margin: 1.17rem 1rem 0.84rem 1rem;
  font-weight: 500;
}
.get-expert-help {
  margin: 0 auto 1.05rem;
  width: 93%;
}
.help-msg {
  margin: 1.17rem;
}
/*Sold div css end*/
/*popular link container start*/
.popular-links-container {
  width: 93%;
  margin: 0 auto;
  padding-bottom: 6rem;
}
.link-label {
  color: #555B68;
  font-size: 1.4rem;
  font-weight: 500;
  width: 18%;
  display: inline-block;
}
.link-container {
  display: inline-block;
  width: 80%;
  vertical-align: top;
}
.links {
  display: inline-block;
}
.links a {
  color: #8F939C;
  font-size: 1.4rem;
}
.popular-links-container .section-title {
  padding: 0 0 1.12rem 0;
}
.popular-links {
  margin-bottom: 1.4rem;
}
.popular-links .dot-separator {
  color: #8F939C;
}

/*popular link container end*/
/* subheader css */
.sub-header {
  position: absolute;
  width: 100%;
  transition: top .3s ease;
  z-index: 1;
}
.subheader-gradient {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0));
  fill: #FFF;
  height: 5.6rem;
}
.back-wrap {
  display: inline-block;
  width: 40px;
  padding: 1.1rem;
}
.right-icons-wrap {
  display: inline-block;
  float: right;
}
.sub-header .favourite-listing {
  display: inline-block;
  padding: 7px 6px 2px 6px;
  position:static;
}
.sub-header .share-listing {
  position: absolute;
  top: 0;
  right: 0;
  fill: #fff;
  display: inline-block;
  padding: 9px 8px 2px 8px;
}
.right-icons-wrap .favourite-listing svg {
  height: 28px;
  stroke-width: 2.4px;
}
.right-icons-wrap .share-listing svg {
  width: 2.4rem;
  height: 2.4rem;
}
.tab-container {
  width: 100vw;
  padding: 0;
  overflow: auto;
  border-bottom: 1px solid #DADDE3;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  font-size: 1.6rem;
}
.tab-headings-wrap {
  width: 50rem;
  overflow: auto;
}
.tab-heading {
  display: inline-block;
  padding: 0.7rem 1.4rem;
  text-align: center;
  border-bottom: .3rem solid transparent;
  float: left;
  color: #444A59;
}
.subheader-sticky {
  position: fixed;
  background-color: #fff;
  fill: #7D8AA1;
  animation: subheader-animate .3s forwards;
  animation-timing-function: ease;
}
@-webkit-keyframes subheader-animate {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
@keyframes subheader-animate {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
.sb-listing-title {
  display: inline-block;
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 23rem;
  vertical-align: sub;
}
.selected-tab {
  color: #03A9F4;
  border-bottom-color: #03A9F4;
}
/* subheader css ends */
/*similar link wrap css start*/
.similar-link-wrap {
  background-color: #F5F8FA;
  padding: 0 1.6rem;
  font-size: 1.6rem;
  margin: 0 0 24px 0; 
}
.similar-link-wrap .similar-link-item {
  padding: 1.19rem 0;
  
  border-bottom: 1px solid #D8DEEB;
  color: #6A6F7B;
}
.section-down-icon {
  display: inline-block;
  float: right;
  width: 1rem;
  fill: #6A6F7B;
  vertical-align: middle;
}
/*similar link wrap css end*/
.placeholder-img {
  width: 12.5rem;
  height: 8.5rem;
  background-color: #f2f3f5; 
}
.error-img-placeholder {
  display: inline-block;
}
.combined-btn-wrap{   
  display: block;   
  position: fixed;    
  bottom: 0;    
  height: 64px;   
  width: 100%;    
  background-color: #fff;   
  padding: 8px 0px;   
}   
.combined-btn-wrap .get-seller-btn-wrap {   
  width: 46.25%;    
  height: 48px;   
  margin-right: 2.5%;   
  border-radius: 3px;   
  display: inline-block;    
  color: #fff;    
}   
.combined-btn-wrap .make-offer-btn-wrap {   
  display: inline-block;    
  width: 46.25%;    
  height: 48px;   
  margin-left: 2.5%;    
  margin-right: 2.5%;   
  background-color: #5C6AC4;    
  color: #03A9F4;   
}   
.combined-btn-wrap .get-seller-btn-wrap .get-seller-contact-btn {   
  border-radius: 3px;   
  font-size: 17px;    
  font-weight: 500;   
  padding : 0px;    
}   
.combined-btn-wrap .make-offer-btn-wrap .make-offer-btn {   
  font-size: 17px;    
  border-radius: 3px;   
  background-color: #fff;   
  border-color: #03A9F4;    
  font-weight: 500;   
  padding : 0px;    
}
.get-seller-contact-wrap {
  display: block;
  position: fixed;
  bottom: 0;
  font-size: 0;
  width: 92%;
  background-color: #03A9F4;
  color: #fff;
  margin: 8px 14px;
  border-radius: 3px;
  pointer-events: auto;
  opacity: 0;
  transition: opacity .5s ease;
}
.get-seller-contact-wrap.show-btn {
  opacity: 1;
}
/* Truebil Direct Patch */
#listingDetailsWrap .tb-patch {
  float: right;
}
.tb-patch {
  display: inline-block;
  float: right;
}
/* Truebil Direct Patch css end */
.rsa-offer-section {
  background-color: #F2F3F5;
  padding: 1.4rem;
}
.list-section {
  background-color: #F2F3F5;
  padding: 1.4rem;
}
.list-container {
  background: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);
  border-radius: 2px;
  padding: 1.4rem;
}
.list-container .list-heading {
  font-size: 2rem;
  color: #444A59;
  font-weight: 500;
  margin-bottom: 1.4rem;
  display: block;
}
.become_premium {
  background-color: #f2f3f5;
  padding-bottom: 1.6rem;
}
.refurbishing-msg {
  padding: 1.6rem;
  background-color: #f5f6f7;
}
.refurbishing-warning-icon {
  fill: rgb(242, 180, 7);
  width: 2.3rem;
  display: inline-block;
  vertical-align: middle;
}
.refurbishing-msg p {
  display: inline-block;
  font-size: 1.4rem;
  width: 86%;
  vertical-align: top;
  margin-left: 5px;
}
#dedicatedPage .super-saver-wrap {
  position: relative;
  display: inline-block;
  color: #fff;
  background-color: #29C5A3;
  padding-left: 4px;
  padding-right: 2px;
  line-height: 18px;
  font-size: 12px;
  margin: 1.8rem 0;
}
#dedicatedPage .super-saver-wrap::after {
  content: " ";
  border: 9px solid rgba(41, 197, 163,.7);
  border-left-color: #29C5A3;
  border-right-color: transparent;
  position: absolute;
  right: -18px;
  top: 0;
}
#dedicatedPage .get-seller-contact-btn.two-text-cta {
  padding: 4px 1rem;
  line-height: 2.8rem;
}
#dedicatedPage .get-seller-contact-btn .sub-text {
  display: block;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
/* Test Drive Btn */
.testdrive-btn-wrap {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FFF;
  opacity: 1;
  padding: 1rem;
  box-shadow: 0 -2px 4px 0 rgba(125,138,161,0.30);
  height: 5.6rem;
}
.testdrive-btn-wrap .info-section {
  display: inline-block;
}
.testdrive-btn-wrap .heading {
  font-size: 1.3rem;
  color: #444A59;
  margin-bottom: 0;
  line-height: 2rem;
  text-transform: uppercase;
}
.testdrive-btn-wrap .testdrive-info-warp {
  display: inline-block;
}
.testdrive-btn-wrap .testdrive-info {
  font-size: 1.5rem;
  font-weight: 500;
}
.testdrive-btn-wrap .reschedule-test-drive {
  font-size: 1.5rem;
  color: #5C6AC4;
  font-weight: 500;
  margin-left: 8px;
}
.testdrive-btn-wrap .testdrive-btn {
  display: inline-block;
  float: right;
}
/*price comparison question mark start*/
.td-margin {
  display: inline-block;
  vertical-align: middle;
}
.td-margin-wrap {
  background-color: #FFF;
  box-shadow: 0 1px 0.996rem 0 rgba(0,0,0,0.3);
  padding: 2.6rem 0;
  width: 28rem;
  border-radius: 4px;
  position: absolute;
  left: 2.1rem;
}
#marketPriceCompareQuestion .up-triangle:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: 0.7994rem;
  border-left: .98rem solid transparent;
  border-right: .98rem solid transparent;
  border-bottom: .98rem solid #6A6B6F;
  position: absolute;
  top: -0.9002rem;
}
#marketPriceCompareQuestion .up-triangle:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: 0.7994rem;
  border-left: .98rem solid transparent;
  border-right: .98rem solid transparent;
  border-bottom: .98rem solid #fff;
  position: absolute;
  top: -0.9002rem;
}
#marketPriceCompareQuestion .td-tri {
  position: absolute;
  top: 0px;
  left: 8.26rem;
}
#marketPriceCompareQuestion .td-amount,
#marketPriceCompareQuestion .market-price {
  font-size: 1.8rem;
  color: #444A59;
  font-weight: 500;
  padding-left: .56rem;
}
#marketPriceCompareQuestion .truebil-market-price-wrap {
  margin-top: 2.52rem;
}
#marketPriceCompareQuestion .price-graph {
  height: 3.99rem;
  font-size: 1.59em;
  padding: 9px;
  transition: width 2s;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  min-width: 11.2rem;
}
#marketPriceCompareQuestion .truebil-price-graph {
  background-color: #03a9f4;
  color: #fff;
  font-weight: 500;
  width: 0;
}
#marketPriceCompareQuestion .price-graph {
  height: 3.99rem;
  font-size: 1.59em;
  padding: 9px;
  transition: all 0.5s cubic-bezier(.06,.4,.3,.97);
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  min-width: 11.2rem;
}
#marketPriceCompareQuestion .market-price-graph {
  background-color: #b5b7bd;
  color: #fff;
  font-weight: 500;
}
/*price comparison question end*/
.dedicated-menu {
  position: absolute;
}
/* gsc-seller-name */
.gsc-seller-name svg{
  width: 16px;
  margin: 0px 6px -3px 0px;
  fill: #fff;
}
/* Placeholder css */
.placeholder {
  background: #fff;
  display: inline-block;
  padding-bottom: 20px;
  width: 100%;
  padding-top: 0;
}
.placeholder .placeholder-line {
  background-color: #f2f3f5;
  height: 1.2rem;
  margin: 1.1rem 1.4rem 0;
}
.placeholder .line-one {
  height: 24rem;
  background-color: #f2f3f5;
}
.placeholder .line-two {
  width: 70%;
}
.placeholder .line-three {
  width: 85%;
}
.placeholder .line-four {
  width: 44%;
}
/* Placeholder css end */

.dedicatd-container {
  position: relative;
  height: 100vh;
  width: 100%;
}
.carousel-continer {
  position: fixed;
  top: 0;
}
.phantom {
  height: 60vh;
  transition: height .3s;
}
.content-container {
  z-index: 1000;
  position: relative;
  height: 1000vh;
  background-color: blue; 
}
.phantom-100vh {
  height: 100vh;
}
.carousel-scroll {
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.header-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 14px 12px;
}
.header-container .back-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  
}
.header-container .close-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}


