.placeholder {
  background: #fff;
  display: inline-block;
  padding-bottom: 20px;
  width: 100%;
  padding-top: 0;
}
.placeholder .placeholder-line {
  background-color: #f2f3f5;
  height: 1.2rem;
  margin: 1.1rem 1.4rem 0;
}
.placeholder .line-one {
  height: 24rem;
  background-color: #f2f3f5;
}
.placeholder .line-two {
  width: 70%;
}
.placeholder .line-three {
  width: 85%;
}
.placeholder .line-four {
  width: 44%;
}