.hotel-cart {
  position: relative;
  margin-bottom: 0.8rem;
}
.hotel-info-container {
  position: relative;
  display: block;
}
.listing-container {
  position: relative;
  overflow-x: scroll;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
}
.result-page .listing-container {
  overflow: initial;
}
.upper-wrap {
  position: relative;
}
.lower-wrap {
  padding: 0 1.6rem;
}
.listing-wrap {
  width: calc(376vw + 14px);
  position: relative;
  padding: 2px 0;
  background-color: #fff;
}
.result-page .listing-container .listing-wrap {
  padding: 2.4vw 0;
}
.listing-image-details {
  color: transparent;
  background-color: #EDEDF5;
  width: calc(38vw - 16px);
  text-align: center;
  display: inline-block;
  height: 55.75vw;
  vertical-align: top;
  border-radius: 8px;
  padding: 0 2.7vw;
}
.listing-image-details .image-detail-wrap {
  height: 100%;
  width: 100%;
  position: relative; 
}
.listing-image-details .image-detail-wrap .image-detail .icon {
  width: 48px;
  height: 48px;
  background-color: #FFF;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(163,174,194,0.50);
  margin: 0 auto;
  padding: 12px;
}
.listing-image-details .image-detail-wrap .image-detail .icon svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.listing-image-details .image-detail-wrap .image-detail .right svg {
  width: 24px;
}
.listing-image-details .image-detail-wrap .image-detail .phone svg {
  width: 20px;
}
.listing-image-details .image-detail-wrap .image-detail .text {
  font-size: 13px;
  color: #444A59;
  text-align: center;
  font-weight: 500;
  margin-top: 6px;
  white-space: nowrap;
}
.listing-image-details .image-detail-wrap .image-detail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.arrow-right-blue {
  background: url(https://dw745fgl22f1q.cloudfront.net/images/arrow-right-blue.svg) no-repeat center;
  height: 16px;
  position: absolute;
  width: 16px;
  left: 21px;
}
.listing-name {
  color: transparent;
  background-color: #F2F3F5;
  margin-right: 2px;
  width: 200px;
  height: 150px;
  position: static;
  border-radius: 2px;
}
.result-page .listing-name {
  margin-right: 1px;
}
.result-page .listing-img-wrap {
  margin-right: 2px;
  display: inline-block;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.result-page .listing-img-wrap .sold {
  filter: grayscale(1);
}
.result-page .listing-container .listing-img-wrap img {
  height: 100%;
  transform: translateY(-2.4vw);
}
.tbcar-price-wrap {
  font-weight: 500;
  color: #444A59;
  font-size: 1.8rem;
  margin-top: 4px;
 }
.tbcar-price-wrap .truebil-score {
  vertical-align: middle;
  margin-right: .8rem;
}
.truebil-direct-cars .tbcar-price-wrap {
  bottom: 18px;
  color: #FFF;
  font-size: 1.8rem;
  display: inline-block;
  padding: 4px 8px;
  background-color: rgba(0,0,0, 0.7);
  line-height: 20px;
  position: absolute;
}
.truebil-direct-cars .hotel-cart .market-price {
  color: #FFF;
}
.truebil-direct-cars .truebil-direct-logo {
  margin-left: 8px;
  vertical-align: super;
}
.truebil-direct-cars .hotel-cart .get-seller-contact {
  padding: 12px;
  width: 40px;
 }
.currency-symbol {
  display: inline-block;
}
.info-section {
  margin: 16px 0px;
  padding: 0px 16px;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
}
.info-section .name-location {
  lex-basis: 58.333%;
  width: 58.333%;
  flex-grow: 1;
  flex-basis: 0;
  flex: 0 0 auto;
  padding-right: 8px;
  padding-left: 8px;
}
.info-section .hotel-price {
  flex-basis: 41.667%;
  width: 41.667%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 8px;
  padding-left: 8px;
}
.info-section .name-location .name-text {
  font-weight: 700;
  font-size: 1.6rem;
  color: #212121;
}
.info-section .name-location .subheading {
  margin-top: 8px;
  color: #9b9b9b;
  line-height: 1.2;
  font-size: 1.4rem;
}
.info-section .name-location .distance {
  max-width: 20%;
  font-size: 12px;
  line-height: 16px;
  color: #e34036;
  margin-left: 8px;
  align-items: center;
  font-weight: 600;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info-section .hotel-price-text {
  font-weight: 600;
  font-size: 3rem;
  color: #212121;
  display: inline-block;
}
.result-page .lazy-load-container {
  padding-left: 16px;
  background-clip: content-box;
  overflow-x: scroll;
  overflow-y: hidden; 
}
.hotel-cart .favourite-listing {
  padding: 8px;
  top: 12px;
  right: 0px;
}
.hotel-cart  .favourite-listing svg {
  width: 28px;
  height: 28px;
}
#filterWrap .filter-tags {
  margin: 0;
}
#filterWrap .result-page-tag-btn {
  color: #03A9F4;
  font-weight: 500;
  font-size: 1.6rem;
  display: inline-block;
  margin: 6px 2px;
}
.hotel-cart  .listing-top-icons-wrap {
  position: relative;
}
.hotel-cart  .seen-text {
  color: #FFF;
  text-shadow: 0 0 3px rgba(0, 0, 0, .5);
  font-weight: 500;
  font-size: 13px;
  margin: 0 0.812rem;
  display: inline-block;
}
.listing-patch-wrap {
  position: sticky;
  left: -16px;
  z-index: 1;
  vertical-align: top;
  display: inline-flex;
  flex-direction: column;
}
.listing-patch-wrap .listing-patch {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 80px;
}
.hotel-cart  .super-saver-wrap {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  color: #fff;
  background-color: #29C5A3;
  padding-left: 4px;
  padding-right: 2px;
  line-height: 18px;
  font-size: 12px;
  margin-bottom: 2px;
}
.hotel-cart .super-saver-wrap::after {
  content: " ";
  border: 9px solid rgba(41, 197, 163,.7);
  border-left-color: #29C5A3;
  border-right-color: transparent;
  position: absolute;
  right: -18px;
  top: 0;
}
.result-rsa .list-container {
  box-shadow: none;
}
.result-rsa .list-container {
  padding: 0;
}
.make-offer-wrap verify-otp {
  margin: 40px 20px 20px 20px;
}
.call-action-wrap {
  display: inline-block;
  width: 44px;
  font-size: 1.3rem;
  padding: 1rem;
  line-height: 2.4rem;
  float: right;
  border-width: 1px;
}
.call-action-wrap svg {
  width: 20px;
  vertical-align: sub;
  margin-right: 4px;
}
.fill-blue {
  fill: #03A9F4;
}
.fill-purple {
  fill: #5c6ac4;
}
.similar-cars-banner {
  font-weight: 500;
  font-size: 28px;
  padding: 0.7rem 0 0.7rem 1.6rem;
}
.no-border {
  border: none !important;
}