.header-container {
  position: fixed;
  z-index: 2;
  background-color: #FFF;
  border-bottom: 1px solid #DADBDE;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  top: 0;
  transition: top 0.25s ease;
  width: 100%;
}
.sort-filter-wrap {
  height: 4.4rem;
  position: relative;
  margin: 0 1.6rem;
}
.sort-wrap,
.filter-wrap,
.total-cars {
  display: inline-block;
  font-size: 1.6rem;
  color: #444a59;
  padding: 8px 10px;
  border-left: 1px solid #DADBDE;
  position: relative;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  width: 50%;
}
.total-cars {
  text-overflow: ellipsis;
  white-space: nowrap;
  border-left: transparent;
  overflow: hidden;
  width: calc(100% - 180px);
  padding: 8px 0;
}
.filter-wrap .filter-icon svg, 
.sort-wrap .sort-icon svg {
  transform: scale(1.2);
  vertical-align: middle;
  margin: 3px;
}
.left-container {
  display: inline-block;
  padding: 15px 16px;
  float: left;
}
.left-container .icon-left {
  display: inline-block;
  width: 24px;
  line-height: 1;
  fill: #444a59;
}
.right-container {
  display: inline-block;
  padding: 8px 16px;
  float: right;
}
.lazy-load-container::before {
  content: '';
  width: 100%;
  height: 3.4vw;
  background-color: #fff;
  bottom: -1px;
  position: absolute;
  display: block;
  z-index: 1;
}
.lazy-load-container::after {
  content: '';
  width: 100%;
  height: 3.4vw;
  background-color: #fff;
  top: -1px;
  position: absolute;
  display: block;
}
.result-page .lazy-load-container::after,
.result-page .lazy-load-container::before {
  display: none
}